<div class="bg-white dark:bg-gray-800 p-6 rounded shadow w-full max-w-md mx-auto">
  <h2 class="text-2xl font-bold mb-6 text-center">
     @if (current()) { Editar compra } @else { Nueva compra }
  </h2>


  <form [formGroup]="form" (ngSubmit)="save()" class="space-y-4">

    <div>
      <label class="block text-sm font-medium mb-1">Producto</label>
      <select formControlName="productoId" class="w-full border rounded px-3 py-2 focus:ring">
        <option value="" disabled>Seleccione un producto</option>
        @for (p of productosSig(); track p.id) {
          <option [value]="p.id">{{ p.nombre }} (stock: {{ p.stock }})</option>
        }
      </select>
      @if (form.get('productoId')?.invalid && form.get('productoId')?.touched) {
        <div class="text-red-600 text-sm mt-1">Seleccione un producto válido</div>
      }
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Cantidad</label>
      <input type="number" formControlName="cantidad" placeholder="Ej. 5"
             class="w-full border rounded px-3 py-2 focus:ring"/>
      @if (form.get('cantidad')?.invalid && form.get('cantidad')?.touched) {
        <div class="text-red-600 text-sm mt-1">Introduce una cantidad válida</div>
      }
    </div>


    <div>
      <label class="block text-sm font-medium mb-1">Precio unitario</label>
      <input type="number" formControlName="precioUnitario" placeholder="Ej. 100"
             class="w-full border rounded px-3 py-2 focus:ring"/>
      @if (form.get('precioUnitario')?.invalid && form.get('precioUnitario')?.touched) {
        <div class="text-red-600 text-sm mt-1">Introduce un precio válido</div>
      }
    </div>


    <div>
      <label class="block text-sm font-medium mb-1">Proveedor</label>
      <select formControlName="proveedorId" class="w-full border rounded px-3 py-2 focus:ring">
        <option value="" disabled>Seleccione un proveedor</option>
        @for (prov of proveedoresSig(); track prov.id) {
          <option [value]="prov.id">{{ prov.nombre }}</option>
        }
      </select>
      @if (form.get('proveedorId')?.invalid && form.get('proveedorId')?.touched) {
        <div class="text-red-600 text-sm mt-1">Seleccione un proveedor válido</div>
      }
    </div>


    <div class="flex gap-3 justify-center pt-4">
      <a
        href="#"
        (click)="form.valid && save(); $event.preventDefault()"
        class="bg-brand-700 text-white px-4 py-2 rounded hover:bg-brand-800 text-center"
        [class.opacity-50]="form.invalid"
        [class.pointer-events-none]="form.invalid"
      >
        Guardar
      </a>

      <a
        routerLink="/compras"
        class="bg-gray-200 px-4 py-2 rounded hover:bg-gray-300 text-center"
      >
        Cancelar
      </a>
    </div>
  </form>
</div>
