<div
  class="bg-white dark:bg-gray-800 p-6 rounded shadow w-full max-w-md mx-auto"
>
  <h2 class="text-2xl font-bold mb-6 text-center">
    {{ id > 0 ? "Editar producto" : "Nuevo producto" }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="save()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium mb-1">Nombre</label>
      <input
        formControlName="nombre"
        placeholder="Ej. Producto X"
        class="w-full border rounded px-3 py-2 focus:ring focus:ring-brand-300"
      />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Stock</label>
      <input
        type="number"
        formControlName="stock"
        placeholder="Ej. 10"
        class="w-full border rounded px-3 py-2 focus:ring focus:ring-brand-300"
      />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Precio</label>
      <input
        type="number"
        formControlName="precio"
        placeholder="Ej. 99.99"
        class="w-full border rounded px-3 py-2 focus:ring focus:ring-brand-300"
      />
    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Proveedor</label>
      <select
        formControlName="proveedorId"
        class="w-full border rounded px-3 py-2 focus:ring focus:ring-brand-300"
      >
        @for (prov of proveedoresSig(); track prov.id) {
          <option [value]="prov.id">{{ prov.nombre }}</option>
        }
      </select>
    </div>

    <div class="flex gap-3 justify-center pt-4">

      <a
        href="#"
        (click)="form.valid && save(); $event.preventDefault()"
        class="bg-brand-700 text-white px-4 py-2 rounded hover:bg-brand-800 text-center"
        [class.opacity-50]="form.invalid"
        [class.pointer-events-none]="form.invalid"
      >
        Guardar
      </a>

      <a
        [routerLink]="['/productos']"
        class="bg-gray-200 px-4 py-2 rounded hover:bg-gray-300 text-center"
      >
        Cancelar
      </a>
    </div>
  </form>
</div>
