<!-- Encabezado -->
<h3
  class="text-lg font-semibold mb-6 text-gray-800 dark:text-white text-center"
>
  Disponibilidad de productos
</h3>

<!-- Selector de modo -->
  <select
  [(ngModel)]="modo"
  (change)="aplicarModo()"
  class="mt-6 border rounded-lg px-3 py-2 shadow-sm
         bg-white dark:bg-gray-600
         border-gray-300 dark:border-gray-700
         text-gray-800 dark:text-gray-200"
>
  <option [ngValue]="1">Todos los productos</option>
  <option [ngValue]="3">Productos sin stock</option>
  <option [ngValue]="2">Productos disponibles</option>
</select>


<div class="w-48" #legendContainer></div>

<div class="w-full aspect-[5/4] relative -mt-4">
  <div #donut class="absolute inset-0"></div>
</div>
