<div class="bg-white dark:bg-gray-800 p-6 rounded shadow max-w-4xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">Interacciones</h2>
  </div>

  <div
    [formGroup]="filtroForm"
    class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6 bg-gray-100 dark:bg-gray-700 p-4 rounded-xl"
  >
    <input
      type="text"
      placeholder="Filtrar por nombre de cliente..."
      formControlName="cliente"
      class="border rounded-lg px-3 py-2 shadow-sm bg-white dark:bg-gray-600"
    />

    <input
      type="date"
      placeholder="Filtrar por fecha..."
      formControlName="fecha"
      class="border rounded-lg px-3 py-2 shadow-sm bg-white dark:bg-gray-600"
    />

    <select
      formControlName="tipo"
      class="border rounded-lg px-3 py-2 shadow-sm bg-white dark:bg-gray-600"
    >
      <option value="">Todos los tipos</option>
      <option value="LLAMADA">Llamada</option>
      <option value="EMAIL">Email</option>
      <option value="REUNION">Reunión</option>
    </select>

    <div class="md:col-span-3 flex justify-between items-center">
      <div class="flex gap-3">
        <button
          type="button"
          (click)="limpiar()"
          class="bg-brand-700 hover:bg-brand-800 text-white px-4 py-2 rounded-xl shadow-md active:scale-95"
        >
          Limpiar
        </button>
      </div>

      <a
        routerLink="/interacciones/nuevo"
        class="bg-brand-700 text-white px-4 py-2 rounded hover:bg-brand-800"
      >
        + Nueva interacción
      </a>
    </div>
  </div>

  <ul class="divide-y divide-gray-200 mb-6">
    @if (interaccionesFiltradas().length === 0) {
      <li class="py-3 text-center text-gray-500">
        No se encontraron interacciones con esos filtros
      </li>
    } @else {
      @for (i of interaccionesFiltradas(); track i.id) {
        <li class="py-3 flex flex-col gap-2">
          <div
            class="font-semibold text-brand-700 flex flex-wrap gap-2 items-center"
          >
            <span>{{ i.tipo }}</span>
            <span>· {{ i.fechaHora | date: "dd/MM/yyyy - HH:mm" }}</span>
            <span>· {{ clienteNombre(i.clienteId) }}</span>
          </div>

          <div class="text-sm text-gray-600">{{ i.descripcion }}</div>

          <div>
            <a
              [routerLink]="['/interacciones', i.id]"
              class="bg-brand-700 text-white px-3 py-1 rounded hover:bg-brand-800"
            >
              Editar
            </a>
          </div>
        </li>
      }
    }
  </ul>
</div>
