<div><div class="flex justify-between items-center mb-3">
  <h2 class="text-xl font-semibold">Productos</h2>
  <button 
    class="bg-brand-700 text-white px-3 py-2 rounded hover:bg-brand-800"
    (click)="router.navigate(['/productos/nuevo'])">
    Nuevo
  </button>
</div>


  <table class="w-full table-auto">
    <thead>
      <tr class="text-left">
        <th class="p-2">ID</th>
        <th class="p-2">Nombre</th>
        <th class="p-2">Stock</th>
        <th class="p-2">Precio</th>
        <th class="p-2">Proveedor</th>
        <th class="p-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (p of svc.productosSig(); track p.id) {
        <tr>
          <td class="p-2">{{p.id}}</td>
          <td class="p-2">{{p.nombre}}</td>
          <td class="p-2">
            <span 
              [ngClass]="{
                'bg-green-100 text-green-800 px-2 py-1 rounded': p.stock > 50,
                'bg-yellow-100 text-yellow-800 px-2 py-1 rounded': p.stock <= 50 && p.stock > 10,
                'bg-orange-100 text-orange-800 px-2 py-1 rounded': p.stock <= 10 && p.stock > 0,
                'bg-red-100 text-red-800 px-2 py-1 rounded': p.stock <= 0
              }">
              {{ p.stock > 50 ? 'Disponible' : p.stock > 10 ? 'Bajo' :  p.stock >= 1 ? 'Crítico':'Sin Stock' }} ({{ p.stock }})
            </span>
          </td>
          <td class="p-2">{{p.precio}}</td>
          <td class="p-2">{{p.proveedorNombre}}</td>
          <td class="p-2 flex gap-2">
            <button 
              class="bg-blue-600 text-white px-3 py-1 rounded"
              (click)="router.navigate(['/productos', p.id])">
              Editar
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
