<!-- Contenedor principal -->
<div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 max-w-[1000px] mx-auto">
  <!-- Título -->
  <h3 class="text-lg font-semibold mb-6 text-gray-800 dark:text-white text-center">
    Resumen de métricas
  </h3>

  <!-- Contenedor solo para la tabla -->
  <div class="mb-8">
    <app-metrics-table [metrics]="metrics"></app-metrics-table>
  </div>

  <!-- Gráficos en dos columnas -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Crecimiento de clientes -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4">
      <app-crecimiento-clientes-char [serie]="clientesSerie"></app-crecimiento-clientes-char>
    </div>

    <!-- Stock disponible -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4">
      <app-stock-disponible-char [counts]="counts"></app-stock-disponible-char>
    </div>

    <!-- Top 3 productos -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4">
      <app-top3-products-chart [series]="topSeries" [keys]="topKeys"></app-top3-products-chart>
    </div>

    <!-- Interacciones -->
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4">
      <app-grafico-burbujas-char [data]="interaccionesData"></app-grafico-burbujas-char>
    </div>

  </div>
</div>
