<!-- Resumen de métricas -->
<div
  class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 max-w-[1000px] w-full mx-auto"
>
  <h3
    class="text-lg font-semibold mb-6 text-gray-800 dark:text-white text-center"
  >
    Resumen de métricas
  </h3>

  <div>
    <app-metrics-table [metrics]="metrics"></app-metrics-table>
  </div>
</div>

<!-- Gráficos en dos columnas -->
<div
  class="max-w-[1000px] w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-6 mt-6"
>
  <!-- Crecimiento de clientes-->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4 h-[500px] w-full">
    <app-crecimiento-clientes-char
      [serie]="clientesSerieCompleta"
      (solicitarRefresco)="loadMetrics()">
    </app-crecimiento-clientes-char>
  </div>

  <div class="bg-white dark:bg-gray-800 rounded-lg shadow p-4 h-[500px] w-full">
    <app-stock-disponible-char [counts]="counts"></app-stock-disponible-char>
  </div>
</div>

<!--Burbujas -->
<div class="p-4">
  <div class="overflow-x-auto">
    <div
      class="bg-white w-[1000px] min-w-[1000px] mx-auto dark:bg-gray-800 mt-6 rounded-lg shadow p-4 h-[500px] sm:h-[400px] md:h-[500px] lg:h-[500px]"
    >
      <app-grafico-burbujas-char
        [products]="bubbleData"
      ></app-grafico-burbujas-char>
    </div>
  </div>
</div>
